/* App.css */

/* Reset default styles for height and width */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
